.container{
  width: 100%;
  height: 100%;
  overflow: hidden;
  .iscroll{
    @include flexbox();
    @include flex-direction(column);
    > * {
      width: 100%;
    }
    header{
      height: .46rem;
      @include flexbox();
      @include flex-direction();
      @include justify-content(space-between);
      @include align-items();
      background: #ff6600;
      .logo{
        width: 1.31rem;
        height: .41rem;
        margin-left: 0.09rem;
        background: url('/build/images/icon.png') 0 -0.59rem no-repeat;
        background-size: 1.9rem 1.9rem;
      }
      ul{
        width: 1.2rem;
        @include flexbox();
        @include flex-direction();
        @include align-items();
        @include justify-content(space-between);
        li{
          width: 0.4rem;
          font-size: 0.26rem;
          color: #fff;
          text-align: center;
          @include align-items();
        }
      }
    }
    section{
      @include flexbox();
      @include flex-direction(column);
      nav{
        height: 1.24rem;
        .swiper-container{
          width: 100%;
          height: 100%;
          img{
            width: 100%;
            height: 100%;
          }
          .swiper-pagination-bullet-active{
            background:#fff;
          }
        }
      }
      .mainlist{
        height: .8rem;
        background: #fff;
        ul{
          width: 100%;
          height: 100%;
          @include flexbox();
          @include flex-direction();
          @include justify-content(space-between);
          li{
            width: 20%;
            padding-top: 0.08rem;
            dl{
              font-size: 0.12rem;
              text-align: center;
              dt{
                span{
                  background: #fb8989;
                  border-radius: 50%;
                  display: block;
                  height: .45rem;
                  line-height: .45rem;
                  margin: auto auto 0.08rem;
                  text-align: center;
                  width: .45rem;
                }
                .icon_cake{
                  background: #de8dc5;
                }
                .icon_flowersong{
                  background: #77bae6;
                }
                .icon_gifts{
                  background: #f6b365;
                }
                .icon-Plant{
                  background: #88d4c0;
                }
              }
              dd{
                .icon_list{
                  color: #666;
                }
              }
            }
          }
        }
      }
      .flowernav{
        height: 1.25rem;
        background: #fff;
        ul{
          width: 100%;
          height: 100%;
          @include flexbox();
          @include flex-direction();
          @include justify-content(space-between);
          li{
            width: 33.3%;
            border-left: 1px solid #E5E5E5;
            margin-left: -1px;
            line-height: .26rem;
            text-align: center;
            font-size: .12rem;
            color: #999;
            position: relative;
            img{
              border:0;
              width:100%;
            }
            i{
              position: absolute;
              z-index: 2;
              left: 0;
              top: 4%;
              text-align: center;
              line-height: .18rem;
              width: 100%;
              .p1{
                font-size: 0.14rem;
              }
              .red{
                color: #f00;
              }
              .pink{
                color: #ff8588;
              }
              .orange{
                color: #f2b354;
              }
              .p2{
                font-size: 0.12rem;
              }
            }
          }
        }
      }
      .libox{
        height: 8.52rem;
        background: #fff;
        .flowerlist{
          height: 100%;
          width: 100%;
          padding: 0.1rem;
          @include flexbox();
          @include flex-direction();
          @include flex-wrap(wrap);
          @include align-content(space-between);
          li{
            width: 1.47rem;
            border:0.01rem solid #e5e5e5;
            img{
              width: 100%;
            }
          }
          li:nth-child(odd){
            margin-right: 0.025rem;
          }
          li:nth-child(even){
            margin-left: 0.025rem;
          }
        }
      }

      .white{
        height: .12rem;
        background: #F1F1F5;
        border-bottom: 1px solid #E5E5E5;
        border-top: 1px solid #E5E5E5;
        width: 100%;
        margin: 0 auto;
      }
    }
  }
}
