@charset "utf-8";
@import "../core/reset";
@import "../core/config.scss";
@import "../module/m-detail.scss";

.container{
    height: 100%;
    display: flex;
    flex-direction: column;
    color:#666;
    
    header{
        height: .44rem;
        background: #FA7F1C;
    }
    
    .deScoll{
        flex: 1;
        overflow: hidden;
		
		.liubai{
			height: .08rem;
			background:#FFF;
		}
		
		.clearing{
			display:flex;
			align-items: center;
			justify-content: space-between;
			padding : 0 .1rem;
			height: .4rem;
			line-height:.36rem;
		    background-color: #f4f4f4;
			border-bottom: 1px solid #e4e4e4;
			border-top: 1px solid #e4e4e4;
			
			div:nth-child(1){
				color:#f60;
			}
			div:nth-child(2){
				span:nth-child(1){
					a{ color:#888;}
				}
				span:nth-child(2){
					display: inline-block ;
					height:.30rem;
					line-height: .30rem;
					background:#f60;
					border-radius: .03rem;
					padding: 0 .1rem;
					color:#fff;
				}
			}
		}
		
		.splist{
			li{
				height:108px;
				display: flex;
				align-items: stretch;
				padding: .15rem .1rem;
				background: #fff;
				border-bottom: 1px solid #ccc;
				
				div:nth-child(1){
					img{
						width:.48rem;
					}
				}
				div:nth-child(3){
					i{
						display: inline-block;
						width: .2rem;
						height: .2rem;
						background: url(http://img02.hua.com/m/ljt.png) no-repeat;
						background-size: .15rem;
						background-position: center;
					}
				}
				div:nth-child(2){
					flex:1;
					color: #888;
					font-size: 14px;
					padding-left:.1rem;
					h3{
						font-weight:100;
						a{
							text-decoration: underline;
							color: #888;
							padding: 0 1px;
						}
					}
					p:nth-child(2){
						span{
							color: #f60;
						}
					}
					p:nth-child(3){
						
						span{
							display:inline-block;
							width: .3rem;
							height:.3rem;
							border: 1px solid #ccc;
							text-align:center;
							line-height: .3rem;
						}
						span:nth-child(2){
							border-left:0;
							border-right:0;
							input{
								text-align:center;
								padding:0;
								margin:0;
								border:0;
								width: .28rem;
								height:.28rem;
								background:none;
							}
						}
						
					}
				}
			}
		}
		
		.goumai{
			padding:  .15rem .05rem;
			background: #fff;
			
			.total{
				border: 1px solid #DDD4C7;
				background:#ffefd7;
				height:42px;
				line-height:40px;
				padding: 0 .1rem;
				border-radius: .05rem;
				i{
					padding:0 .1rem;
					color: #f60;
				}
			}
			.goclearing{
				height:.42rem;
				background:#f60;
				color:#fff;
				text-align:center;
				line-height: .40rem;
				margin-top: .1rem;
				border-radius: .03rem;
				
			}
		}
		
		.match{
			background:#fff;
			padding-bottom:.3rem;
			margin-top:.15rem;
			h3{
				font-size:12px;
				color:#888;
				font-weight:100;
				height: .4rem;
				line-height:.4rem;
				padding:0 .1rem;
			}
			ul{
				display:flex;
				height:154px;
				
				
				li{
					flex:1;
					display:flex;
					flex-direction:column;
					align-items:center;
					justify-content:space-between;
					img{
						width:.90rem;
					}
					p{

						padding: 0 .1rem ;
						text-align:center;
						color: #666666;
						font-size: 12px;
						height: 30px;
						line-height: 16px;
						overflow: hidden;
					}
					span{
						color:#f60;
					}
				}
			}
			
		}
		
		footer{
			height:100rem;
		}
	}
}