@charset "utf-8";
@import "../core/reset";
@import "../core/config.scss";
@import "../module/m-detail.scss";
@import "../common/common.scss";
$headerbg: #ff6600;
// 页面所需模块
body {
    .container {
        height: 100%;
        display: flex;
        flex-direction: column;
        color: #666;
        
        @extend %header;
        
        .deScoll {
            flex: 1;
            overflow: hidden;
            section {
                background: #fff;
            }
            #slider-pic {
                width: 100%;
                background: #FFFFFF;
                .swiper-container {
                    .swiper-slide {
                        width: 100%;
                        padding: 0 0.1rem;
                        display: flex;
                        align-items: center;
                        img {
                            width: 100%;
                        }
                    }
                }
                .addcart {
                    height: 0.56rem;
                    display: flex;
                    width: 100%;
                    padding: 0 0.1rem 0 0.2rem;
                    align-items: center;
                    justify-content: space-between;
                    border-bottom: 1px solid #CCCCCC;
                    span:nth-child(1) {
                        font-size: 20px;
                        color: #f60;
                    }
                    span:nth-child(2) {
                        background: #f60;
                        line-height: 37px;
                        color: #fff;
                        font-size: 17px;
                        border-radius: 0.05rem;
                        text-align: center;
                        padding: 0 0.2rem;
                    }
                }
                .details {
                    /* height: .72rem; */
                    padding: 0.1rem 0;
                    display: flex;
                    align-items: center;
                    a {
                        /* height: .48rem; */
                        flex: 1;
                        display: flex;
                        p {
                            height: 100%;
                            flex: 1;
                            font-size: 16px;
                            line-height: 24px;
                            color: #666;
                            padding: 0 8px;
                            span {
                                color: #f60;
                                line-height: 24px;
                            }
                        }
                        &>span {
                            /* height: 100%; */
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 0.25rem;
                            /* line-height: .48rem; */
                            color: #666;
                            text-align: right;
                            transform: rotate(180deg);
                        }
                    }
                }
            }
            .kongbai {
                height: 0.16rem;
                border-top: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                background: #eee;
            }
            #app-exclusive {
                height: 0.44rem;
                background: #fff;
                display: flex;
                align-items: center;
                padding: 0 8px;
                span:nth-child(1) {
                    color: #FFF;
                    background: #f60 none repeat;
                    padding: 0.03rem;
                    line-height: 0.12rem;
                }
                span:nth-child(2) {
                    flex: 1;
                    font-size: 0.12rem;
                    line-height: 0.2rem;
                    padding-left: 16px;
                }
                span:nth-child(3) {
                    width: 82px;
                    height: 24px;
                    background: url("../../images/icon2b.png") -34px -143px no-repeat;
                    background-size: 165px 165px;
                }
            }
            #pictext {
                padding: 0 0.08rem 0.13rem;
                display: flex;
                flex-direction: column;
                li {
                    line-height: 0.26rem;
                    font-size: 0.13rem;
                    width: 100%;
                    span {
                        color: #AD923B;
                    }
                }
                &>span {
                    width: 100%;
                    text-align: center;
                    line-height: 0.28rem;
                    border: 1px solid #ccc;
                    i {
                        transform: rotate(180deg);
                        display: inline-block;
                    }
                }
            }
            .contact {
                display: flex;
                height: 0.66rem;
                justify-content: space-around;
                align-items: center;
                padding: 0 0.08rem;
                a {
                    color: #f60;
                    width: 48%;
                    line-height: 0.4rem;
                    font-size: 0.16rem;
                    border-radius: 0.05rem;
                    border: 1px solid #f60;
                    height: 0.4rem;
                    text-align: center;
                    i {
                        display: inline-block;
                        width: 0.26rem;
                        height: 0.26rem;
                        background-size: 0.26rem 0.26rem !important;
                        vertical-align: middle;
                        margin-right: 5px;
                        margin-top: -2px;
                    }
                    .qq {
                        background: url("http://img02.hua.com/icon/qq_m.png") no-repeat;
                    }
                    .tel {
                        background: url("http://m.hua.com/images/dhkf.png") no-repeat;
                    }
                }
            }
            #comment {
                display: flex;
                flex-direction: column;
                padding: 0.1rem;
                h3 {
                    font-size: 16px;
                    color: #666;
                    font-weight: 100;
                    line-height: 30px;
                    border-bottom: 1px solid #ccc;
                }
                li {
                    padding: 0.05rem 0;
                    border-bottom: 1px solid #ccc;
                    .t {
                        height: 0.56rem;
                        display: flex;
                        align-items: center;
                        color: #ccc;
                        img {
                            height: 0.5rem;
                            width: 0.5rem;
                            border: 1px solid #ccc;
                        }
                        .xin {
                            padding-left: 0.1rem;
                            width: 0.78rem;
                            height: 0.26rem;
                            span {
                                display: block;
                                width: 0.78rem;
                                height: 0.26rem;
                                background: url("../../images/icon2b.png") -1px 3px no-repeat;
                                background-size: 1.9rem 1.9rem;
                            }
                        }
                        .ip {
                            flex: 1;
                            text-align: right;
                        }
                    }
                    p {
                        line-height: 20px;
                        font-size: 12px;
                        padding: 0.05rem 0;
                    }
                    .b {
                        display: flex;
                        align-items: center;
                        font-size: 12px;
                        color: #ccc;
                        span:nth-child(1) {
                            height: 0.2rem;
                            width: 0.2rem;
                            img {
                                height: 100%;
                                width: 100%;
                            }
                        }
                        span:nth-child(2) {
                            width: 35%;
                            padding: 0 0.05rem;
                        }
                        span:nth-child(3) {
                            flex: 1;
                        }
                    }
                }
                .more {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    a {
                        height: 0.4rem;
                        font-size: 0.14rem;
                        color: #ff6a00;
                        line-height: 0.4rem;
                        text-align: center;
                        width: 100%;
                    }
                }
            }
            .Story {
                display: flex;
                flex-direction: column;
                padding: 0.1rem;
                .title {
                    height: 0.45rem;
                    border-bottom: 1px solid #ccc;
                    display: flex;
                    line-height: 0.45rem;
                    h3 {
                        flex: 1;
                        display: flex;
                        align-items: center;
                        font-size: 16px;
                        font-weight: 100;
                        &>b {
                            font-weight: 100;
                        }
                        &>span {
                            padding: 0 0.03rem;
                            font-size: 12px;
                            color: #ccc;
                            span {
                                color: #f60;
                            }
                        }
                    }
                    i {
                        width: 0.14rem;
                        display: inline-block;
                        transform: rotate(180deg);
                    }
                }
                .scroll-pai {
                    width: 100%;
                    overflow: hidden;
                    ul {
                        white-space: nowrap;
                        li {
                            display: inline-block;
                            width: 1rem;
                            margin-right: 0.01rem;
                            white-space: normal;
                            img {
                                width: 100%;
                                padding: 0.05rem 0;
                            }
                            p {
                                font-size: 12px;
                                line-height: 0.16rem;
                            }
                        }
                    }
                }
                .list {
                    .item {
                        width: 100%;
                        padding: 0.06rem 0;
                        img {
                            float: left;
                            width: 0.6rem;
                            padding-right: 0.1rem;
                        }
                        .text {
                            h3 {
                                font-size: 12px;
                                font-weight: 100;
                            }
                            p {
                                font-size: 12px;
                                color: #929292;
                            }
                        }
                    }
                }
            }
            .add-cart {
                height: 68px;
                border-top: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                padding: 0 0.2rem;
                display: flex;
                align-items: center;
                a {
                    width: 100%;
                    background: #f60;
                    line-height: 0.42rem;
                    color: #fff;
                    font-size: 17px;
                    border-radius: 0.05rem;
                    text-align: center;
                    padding: 0 0.2rem;
                }
            }
            .you-like {
                width: 100%;
                h3 {
                    height: 50px;
                    line-height: 50px;
                    font-size: 14px;
                    color: #666666;
                }
                .scroll-youlike {
                    height: 1.1rem;
                    ul {
                        white-space: nowrap;
                        li {
                            margin-right: 0.1rem;
                            width: 0.9rem;
                            height: 1.1rem;
                            display: inline-block;
                            text-align: center;
                            color: #f6a;
                            img {
                                width: 0.8rem;
                            }
                        }
                    }
                }
            }
        }
        .delist {
            height: 0.44rem;
            display: flex;
            background: #FFFFFF;
            li {
                width: 25%;
                line-height: 0.44rem;
                text-align: center;
                border-bottom: 1px solid #ccc;
                border-right: 1px solid #CCCCCC;
            }
            .active {
                border-bottom: 1px #f60 solid;
                color: #f60;
            }
            li:nth-last-child(1) {
                border-right: 0;
            }
        }
        #Img_Deail {
            width: 100%;
            img {
                width: 100%;
            }
        }
        @extend %footer;
    }
    @extend %totop;
}