@font-face {
    font-family: 'iconfont';
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    src:url('/build/images/iconfont/iconfont.woff') format('woff'),
    /* chrome、firefox */
     url('/build/images/iconfont/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: iconfont;
}
$baseColor: #ff6600;
